<div class="row">
    {% for image in images %}
        <div class="col-sm-12 col-md-6">
            <div class="thumbnail">
                <img src="/images/{{ image }}" alt="..."/>
            </div>
        </div>
    {% endfor %}
</div>